@using WebUI.Areas.User.Helpers
@model ProfileAboutViewModel
@{
    var user = Model.ProfileUser;
}
<div class="tab-pane fade active show" id="hobbiesViewTab">
    <div class="top-box d-flex justify-content-between align-items-center">
        <h4>Hobbies and Interests</h4>
        @if (Model.IsOwner)
        {
            <button class="p-2 d-flex flex-column justify-content-center align-item-center btn btn-primary section-edit-btn" data-view="#hobbiesViewTab"
                    data-edit="#hobbiesEditTab">
                <i class="ph ph-pencil-simple"></i>
            </button>
        }
    </div>
    <hr>
    @if (ProfileVisibilityHelper.CanViewAboutInfo(Model, ProfileField.Hobbies))
    {
        <h5 class="mb-1">Hobbies:</h5>
        <p class="@(user.UserProfileInfo?.Hobbies == null ? "text-warning" : "")" id="hobbiesHobbiesText">
            @(user.UserProfileInfo?.Hobbies ?? "No information entered")
        </p>
    }
    @if (ProfileVisibilityHelper.CanViewAboutInfo(Model, ProfileField.FavoriteMovies))
    {
        <h5 class="mb-1">Favorite Movies:</h5>
        <p class="@(user.UserProfileInfo?.FavoriteMovies == null ? "text-warning" : "")" id="hobbiesFavMoviesText">
            @(user.UserProfileInfo?.FavoriteMovies ?? "No information entered")
        </p>
    }
    @if (ProfileVisibilityHelper.CanViewAboutInfo(Model, ProfileField.FavoriteGames))
    {
        <h5 class="mb-1">Favorite Games:</h5>
        <p class="@(user.UserProfileInfo?.FavoriteGames == null ? "text-warning" : "")" id="hobbiesFavGamesText">
            @(user.UserProfileInfo?.FavoriteGames ?? "No information entered")
        </p>
    }
    @if (ProfileVisibilityHelper.CanViewAboutInfo(Model, ProfileField.FavoriteBooks))
    {
        <h5 class="mb-1">Favorite Books:</h5>
        <p class="@(user.UserProfileInfo?.FavoriteBooks == null ? "text-warning" : "")" id="hobbiesFavBooksText">
            @(user.UserProfileInfo?.FavoriteBooks ?? "No information entered")
        </p>
    }
    @* User Fav Music *@
</div>

@if (Model.IsOwner)
{
    <div class="tab-pane fade" id="hobbiesEditTab">
        <div class="top-box d-flex justify-content-between align-items-center">
            <h4>Edit - Hobbies and Interests</h4>
            <button type="button" class="p-2 d-flex flex-column justify-content-center align-item-center btn btn-danger section-cancel-btn" data-view="#hobbiesViewTab"
                    data-edit="#hobbiesEditTab">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
        </div>
        <hr>
        <form asp-area="User" asp-controller="Profile" asp-action="UpdateHobbiesAndInterests" id="hobbiesAndInterestsForm" asp-antiforgery="true" method="post">
            <div class="mb-3">
                <label class="form-label">Hobbies</label>
                <textarea name="Hobbies" class="form-control" style="max-height:80px"
                      placeholder="Write down your hobbies">@user.UserProfileInfo?.Hobbies</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Favorite Movies</label>
                <textarea name="FavoriteMovies" class="form-control" style="max-height:80px"
                      placeholder="Write down your favorite movies">@user.UserProfileInfo?.FavoriteMovies</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Favorite Games</label>
                <textarea name="FavoriteGames" class="form-control" style="max-height:80px"
                      placeholder="Write down your favorite games">@user.UserProfileInfo?.FavoriteGames</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Favorite Books</label>
                <textarea name="FavoriteBooks" class="form-control" style="max-height:80px"
                      placeholder="Write down your favorite books">@user.UserProfileInfo?.FavoriteBooks</textarea>
            </div>

            <div class="d-flex justify-content-end gap-2 mt-3">
                <button type="button" class="btn btn-outline-secondary section-cancel-btn" data-view="#hobbiesViewTab" data-edit="#hobbiesEditTab">
                    Cancel
                </button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
}
