
@model Post

<div class="col-sm-12 social-post">
    <div class="card card-block card-stretch card-height">
        <div class="card-body">
            <div class="user-post-data">
                <div class="d-flex align-items-center justify-content-between gap-lg-3 gap-2">
                    <div class="flex-shrink-0">
                        <img class="border border-2 rounded-circle user-post-profile"
                             src="@Model.AppUser.ImageUrl" alt="user-image" loading="lazy">
                    </div>
                    <div class="w-100">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center gap-2 flex-md-nowrap flex-wrap">
                                <h6 class="mb-0 d-inline-block">@Model.AppUser.UserName</h6>
                                <span class="d-inline-flex align-items-center">
                                    <i class="ph-fill ph-seal-check fs-5 text-primary"></i>
                                </span>
                                <span class="mb-0 d-inline-block text-capitalize fw-medium">
                                    posted an
                                    update
                                </span>
                            </div>
                            <div class="card-post-toolbar">
                                <div class="dropdown">
                                    <div class="lh-1" id="post-option" data-bs-toggle="dropdown">
                                        <i class="ph-bold ph-dots-three font-size-30"></i>
                                    </div>
                                    <div class="dropdown-menu m-0 p-0">
                                        <a class="dropdown-item p-3" href="#">
                                            <div class="d-flex align-items-top">
                                                <i class="ph ph-floppy-disk fs-2"></i>
                                                <div class="data ms-2">
                                                    <h6>Save Post</h6>
                                                    <p class="mb-0">Add this to your saved items</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item p-3" href="#">
                                            <div class="d-flex align-items-top">
                                                <i class="ph ph-x-circle fs-2"></i>
                                                <div class="data ms-2">
                                                    <h6>Hide Post</h6>
                                                    <p class="mb-0">See fewer posts like this.</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item p-3" href="#">
                                            <div class="d-flex align-items-top">
                                                <i class="ph ph-user-minus fs-2"></i>
                                                <div class="data ms-2">
                                                    <h6>Unfollow User</h6>
                                                    <p class="mb-0">
                                                        Stop seeing posts but stay friends.
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item p-3" href="#">
                                            <div class="d-flex align-items-top">
                                                <i class="ph ph-bell fs-2"></i>
                                                <div class="data ms-2">
                                                    <h6>Notifications</h6>
                                                    <p class="mb-0">
                                                        Turn on notifications for this post
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="mb-0">@Model.CreatedAt.ToLocalTime().ToString("g")</p>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <p class="m-0">
                    "
                    @if (!string.IsNullOrWhiteSpace(Model.Context))
                    {
                        <p>@Model.Context</p>
                    }
                    "
                </p>
                <ul class="list-inline m-0 p-0 d-flex flex-wrap gap-1">
                    <li>
                        <a href="javascript:void(0);">#friends</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">#party</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">#birthday</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">#together</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">#celebration</a>
                    </li>
                </ul>
            </div>
            <div class="user-post mt-4">
                <a data-fslightbox="gallery" href="@Model.ImageUrl"
                   class="rounded">
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="@Model.ImageUrl"
                             class="img-fluid rounded w-100"
                             style="max-height:400px;object-fit:cover;" />
                    }
                </a>
            </div>
            @* <div class="post-meta-likes mt-4">
                <div class="d-flex align-items-center gap-2 flex-md-nowrap flex-wrap flex-wrap">
                    <ul class="list-inline m-0 p-0 post-user-liked-list">
                        <li>
                            <img src="~/html/assets/images/user/01.jpg" alt="userimg"
                                 class="rounded-circle img-fluid userimg" loading="lazy">
                        </li>
                        <li>
                            <img src="~/html/assets/images/user/02.jpg" alt="userimg"
                                 class="rounded-circle img-fluid userimg" loading="lazy">
                        </li>
                        <li>
                            <img src="~/html/assets/images/user/03.jpg" alt="userimg"
                                 class="rounded-circle img-fluid userimg" loading="lazy">
                        </li>
                        <li>
                            <img src="~/html/assets/images/user/04.jpg" alt="userimg"
                                 class="rounded-circle img-fluid userimg" loading="lazy">
                        </li>
                    </ul>
                    <div class="d-inline-flex align-items-center gap-1">
                        <h6 class="m-0 font-size-14">Aliana Molex</h6>
                        <span class="text-capitalize font-size-14 fw-medium" type="button"
                              data-bs-toggle="modal" data-bs-target="#likemodal">
                            and 208 others liked
                            this
                        </span>
                    </div>
                </div>
            </div> *@
            <div class="comment-area mt-4 pt-4 border-top">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="like-block position-relative d-flex align-items-center flex-shrink-0">
                        <div class="like-data">
                                <span class="dropdown-toggle d-flex align-items-center justify-content-center gap-1"
                                      data-bs-toggle="dropdown" aria-haspopup="true"
                                      aria-expanded="false" role="button">
                                    <i class="ph ph-thumbs-up fs-3"></i>
                                    <span class="fw-medium">@Model.PostLikes?.Count() Likes</span>
                                </span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-3 flex-shrink-0">
                        <div class="total-comment-block d-flex justify-content-center align-items-center gap-1"
                             type="button" data-bs-toggle="collapse"
                             data-bs-target="#commentcollapes1" aria-expanded="false"
                             aria-controls="commentcollapes">
                            <i class="ph ph-chat-circle-text fs-4"></i>
                            <span class="fw-medium">@Model.PostComments?.Count() Comment</span>
                        </div>
                        <div class="share-block d-flex align-items-center feather-icon">
                            <a href="javascript:void(0);" data-bs-toggle="modal"
                               data-bs-target="#share-btn" aria-controls="share-btn"
                               class="d-flex justify-content-center align-items-center gap-1">
                                <i class="ph ph-share-network fs-4"></i>
                                <span class="fw-medium">99 Share</span>
                            </a>
                        </div>
                    </div>
                </div>
                @* <div class="collapse mt-4 pt-4 border-top" id="commentcollapes1">
                    <ul class="list-inline m-o p-0 comment-list">
                        <li class="mb-3">
                            <div class="comment-list-block">
                                <div class="d-flex align-items-center gap-3">
                                    <div class="comment-list-user-img flex-shrink-0">
                                        <img src="~/html/assets/images/user/13.jpg" alt="userimg"
                                             class="avatar-48 rounded-circle img-fluid" loading="lazy">
                                    </div>
                                    <div class="comment-list-user-data">
                                        <div class="d-inline-flex align-items-center gap-1 flex-wrap">
                                            <h6 class="m-0">Bob Frapples</h6>
                                            <span class="d-inline-block text-primary">
                                                <svg class="align-text-bottom"
                                                     xmlns="http://www.w3.org/2000/svg" width="17"
                                                     height="17" viewBox="0 0 17 17" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M12.2483 0.216553H4.75081C2.13805 0.216553 0.5 2.0665 0.5 4.68444V11.7487C0.5 14.3666 2.13027 16.2166 4.75081 16.2166H12.2475C14.8689 16.2166 16.5 14.3666 16.5 11.7487V4.68444C16.5 2.0665 14.8689 0.216553 12.2483 0.216553Z"
                                                          fill="currentColor" />
                                                    <path d="M5.5 8.21627L7.50056 10.216L11.5 6.21655"
                                                          stroke="white" stroke-width="1.5"
                                                          stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </span>
                                            <spna class="fw-medium small text-capitalize">
                                                3 min ago
                                            </spna>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-list-user-comment">
                                    <div class="comment-list-comment">
                                        "Just stumbled upon this post and it's giving me all the feels!
                                        🙌"
                                    </div>
                                    <div class="comment-list-action mt-2">
                                        <ul class="list-inline m-0 p-0 d-flex align-items-center gap-2 flex-md-nowrap flex-wrap">
                                            <li>
                                                <div class="like-block position-relative d-flex align-items-center flex-shrink-0">
                                                    <div class="like-data">
                                                        <div class="dropdown">
                                                            <span class="dropdown-toggle d-flex align-items-center justify-content-center gap-1"
                                                                  data-bs-toggle="dropdown"
                                                                  aria-haspopup="true" aria-expanded="false"
                                                                  role="button">
                                                                <i class="ph ph-thumbs-up fs-3"></i>
                                                                <span class="fw-medium small">Likes</span>
                                                            </span>
                                                            <div class="dropdown-menu py-2 shadow">
                                                                <a class="mx-2" href="javascript:void(0);"
                                                                   data-bs-toggle="tooltip"
                                                                   data-bs-placement="top" title="Like">
                                                                    <img src="~/html/assets/images/icon/01.png"
                                                                         class="img-fluid" alt="like"
                                                                         loading="lazy">
                                                                </a>
                                                                <a class="me-2" href="javascript:void(0);"
                                                                   data-bs-toggle="tooltip"
                                                                   data-bs-placement="top" title="Love">
                                                                    <img src="~/html/assets/images/icon/02.png"
                                                                         class="img-fluid" alt="love"
                                                                         loading="lazy">
                                                                </a>
                                                                <a class="me-2" href="javascript:void(0);"
                                                                   data-bs-toggle="tooltip"
                                                                   data-bs-placement="top" title="Happy">
                                                                    <img src="~/html/assets/images/icon/03.png"
                                                                         class="img-fluid" alt="happy"
                                                                         loading="lazy">
                                                                </a>
                                                                <a class="me-2" href="javascript:void(0);"
                                                                   data-bs-toggle="tooltip"
                                                                   data-bs-placement="top" title="HaHa">
                                                                    <img src="~/html/assets/images/icon/04.png"
                                                                         class="img-fluid" alt="haha"
                                                                         loading="lazy">
                                                                </a>
                                                                <a class="me-2" href="javascript:void(0);"
                                                                   data-bs-toggle="tooltip"
                                                                   data-bs-placement="top" title="Think">
                                                                    <img src="~/html/assets/images/icon/05.png"
                                                                         class="img-fluid" alt="think"
                                                                         loading="lazy">
                                                                </a>
                                                                <a class="me-2" href="javascript:void(0);"
                                                                   data-bs-toggle="tooltip"
                                                                   data-bs-placement="top" title="Sad">
                                                                    <img src="~/html/assets/images/icon/06.png"
                                                                         class="img-fluid" alt="sad"
                                                                         loading="lazy">
                                                                </a>
                                                                <a class="me-2" href="javascript:void(0);"
                                                                   data-bs-toggle="tooltip"
                                                                   data-bs-placement="top"
                                                                   title="Lovely">
                                                                    <img src="~/html/assets/images/icon/07.png"
                                                                         class="img-fluid" alt="lovely"
                                                                         loading="lazy">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span class="fw-medium small" data-bs-toggle="collapse"
                                                      data-bs-target="#subcomment-collapse1" role="button"
                                                      aria-expanded="false" aria-controls="collapseExample">
                                                    Reply
                                                </span>
                                            </li>
                                        </ul>
                                        <div class="add-comment-form-block collapse mt-3"
                                             id="subcomment-collapse1">
                                            <div class="d-flex align-items-center gap-3">
                                                <div class="flex-shrink-0">
                                                    <img src="~/html/assets/images/user/1.jpg"
                                                         alt="userimg"
                                                         class="avatar-48 rounded-circle img-fluid"
                                                         loading="lazy">
                                                </div>
                                                <div class="add-comment-form">
                                                    <form>
                                                        <input type="text" class="form-control"
                                                               placeholder="Write a Comment...">
                                                        <button type="submit"
                                                                class="btn btn-primary font-size-12 text-capitalize px-5">
                                                            post
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="add-comment-form-block">
                        <div class="d-flex align-items-center gap-3">
                            <div class="flex-shrink-0">
                                <img src="~/html/assets/images/user/1.jpg" alt="userimg"
                                     class="avatar-48 rounded-circle img-fluid" loading="lazy">
                            </div>
                            <div class="add-comment-form">
                                <form>
                                    <input type="text" class="form-control"
                                           placeholder="Write a Comment...">
                                    <button type="submit"
                                            class="btn btn-primary font-size-12 text-capitalize px-5">
                                        post
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> *@
            </div>
        </div>
    </div>
</div>